.header {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 4px;
  width: 100%;
}
.header__auth {
  display: flex;
  gap: 8px;
  width: -webkit-fill-available;
  justify-content: end;
}
.header__navigation-option {
  display: flex;
  gap: 8px;
  width: -webkit-fill-available;
}

@media (max-width: 768px) {
  .header__navigation-option {
    display: none;
  }
}
