.color-picker-tab__default-colors {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.color-picker-tab__default-colors--outer {
  width: 28px; /* Set the outer circle's size */
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid lavender;
  display: flex;
  align-items: center;
  justify-content: center;
}
.color-picker-tab__default-colors--outer:hover {
  opacity: 0.6;
  transition: opacity 500ms;
}

.color-picker-tab__default-colors--inner {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: blue;
}
