.button__wrapper {
  padding: 8px;
  border-radius: 6px;
  font-weight: 600;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  gap: 8px;
}
/* text variant */
.button__text {
  background-color: #fff;
  border: none;
}
.button__text:hover,
.button__outlined:hover {
  background-color: var(--shadow-color);
  transition: all 200ms;
}
.button__text:active,
.button__outlined:active {
  background-color: rgba(0, 4, 7, 0.25); /* Change to desired color */
  transition: all 200ms;
}
/* text outline */
.button__outlined {
  background-color: #fff;
  border: 1px solid var(--shadow-color);
}
/* text contained */
.button__contained {
  background-color: var(--brand-color);
  border: none;
  color: #fff;
}
.button__contained:hover {
  background-color: var(--brand-color-hover);
  transition: all 200ms;
}
.button__contained:active {
  background-color: var(--brand-color); /* Change to desired color */
  transition: all 200ms;
}
.button__caret-down-icon-wrapper {
  transition: all 200ms;
}
.button__wrapper:hover .button__caret-down-icon-wrapper {
  transform: rotate(-180deg);
  transition: all 200ms;
}
