.sidemenu {
  min-width: 150px;
  background-color: rgb(37, 38, 39);
  color: white;
}
.sidemenu-close {
  transform: translateX(-500px);
  transition: all 1000ms ease-in-out;
}
.sidemenu__close-btn {
  position: absolute;
  border: red 1px solid;
  z-index: 1;
  background-color: rgb(37, 38, 39);
  cursor: pointer;
}
